@media screen and (min-width: 1200px) {
/*画面幅が1200px以上のとき,PC用*/
	.body_property {
		color: 	#333;
	}

	.header {
		background-color: #fff;
		position: relative;
/*		実はrelativeじゃなくてこっち？
    position: fixed;
    width: 100%;
    z-index: 1;*/
	}

	.fa-headIcon {
		color: gray;
	}

	.inner {
		width: 1100px;
		margin: 0 auto;
	}

	.header__inner {
		display: flex;
		justify-content: space-around;
	}

	.header__item {
		margin: 15px 0;
	}

	.button {
		background-color: #74cfae;
		color: #fff;
		font-size: 12px;
		padding: 14px 12px;
		width: 45px;
		cursor: pointer;
    text-decoration: none;
	}

	.main__box__button > .button {
		width: 65px;
    text-decoration: none;
	}

	.button:hover {
		transition-duration: 0.3s;
		background-color: #333
	}

	.humberger {
		display: none;
	}

	.main__box__top {
		background-color: #f2f2f2;
		text-align: center;
	}

	.main__box_text h1 {
		color: #74cfae;
		font-size: 90px;
		font-weight: 700;
		margin-bottom: 20px;
		padding-top: 250px;
	}

	.main__box_text p {
		font-size: 30px;
		color: #c0c0c0;
		padding-bottom: 250px;
	}

	.main__box__descBG {
		background-color: #74cfae;

	}

	.main__box__desc {
		display: flex;
		justify-content: space-around;
	}

	.main__box__desc img {
		margin-right: 60px;
		margin-left: 60px;
	}

	.main__item {
		margin-top: 50px;
		text-align: center;
	}

	.main__box__text {
		color: #fff;
	}

	.main__box__text h1 {
		font-size: 24px;
		margin-bottom: 35px;
	}

	.main__box__text p {
		font-size: 20px;
	}

	.main__box__content {
		text-align: center;
		background-color: #f2f2f2;
	}

	.main__box__title {
		font-size: 24px;
		padding-top: 60px;
		margin-bottom: 40px;
	}

	.main__box__content_img {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		font-size: 0;
	}

	.main__box__content_img a {
		/*text-decoration: none;*/
		opacity: 0.7;
		margin-left: 100px;
	}

	.main__box__content_img a:hover {
		opacity: 1;
		transition-duration: 0.3s;
	}

	/*横並びの画像の枚数が変更されてもnの前の数字部分を変更することで対応可能*/
	.main__box__content_img a:nth-child(3n+1) {
		margin-left: 0;
	}

	.main__box__content_img a:nth-child(n+4):nth-child(-n+6) {
		margin-top: 80px;
	}

	.main__box__content_note {
		margin-top: 90px;
		padding-bottom: 70px;
		display: flex;
		justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
	}

	.main__box__button {
		margin-left: 90px;
	}

	.main__content_information {
		background-color: #4e4e4e;
	}

	.main__content_information h2 {
		color: #fff;
    padding-top: 70px;
    padding-bottom: 30px;
		text-align: center;
	}

	.main__content__wrapper {
		display: flex;
		justify-content: center;
		padding-bottom: 100px;
	}

	.main__content__img {
		display: flex;
		justify-content: space-around;
	}

	.main__content__img div:nth-child(n+2) {
		margin-left: 180px;
	}

	.main__content__img p {
		color: #fff;
		font-size: 16px;
		margin-top: 10px;
		text-align: center;
	}

	.nav {
		background-color: #f2f2f2;
		padding-top: 200px;
		padding-bottom: 200px;
	}

	.nav__content {
		width: 70%;
		margin: 0 auto;
	}

	.nav__list {
		display: flex;
		justify-content: space-around;
	}

	.nav__list li{
		width: 185px;
		text-align: center;
    height: 80px;
    padding-top: 15%;
	}

	.nav__list li:hover {
		background-color: #fff;
		cursor: pointer;
		transition-duration: 0.3s;
	}

	.nav_color {
		color: #74cfae;
	}

	.footer {
		background-color: #74cfae;
	}

	.footer div{
		color: #fff;
		padding: 20px 0 25px;
		text-align: right;
	}

/*ここから上はPC用 完成次第media screenを適用する
PC用スタイルのレビュー後TAB用SP用を作成予定*/

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	画面幅が768pxから1199pxまでのとき、TAB用
	.body_property {
		color: 	#333;
	}

	.header {
		background-color: #fff;
		position: relative;
/*		実はrelativeじゃなくてこっち？
    position: fixed;
    width: 100%;
    z-index: 1;*/
	}

	.fa-headIcon {
		color: gray;
	}

	.inner {
		width: 97%;
		margin: 0 auto;
	}

	.header__inner {
		display: flex;
	    justify-content: space-between;
        	: 0 35px;
	}

	.header__item {
		margin: 15px 0;
	}

	.button {
		background-color: #74cfae;
		color: #fff;
		font-size: 12px;
		padding: 14px 12px;
		width: 40px;
		cursor: pointer;
    text-decoration: none;
	}

	.main__box__button > .button {
		width: 65px;
    text-decoration: none;
	}

	.button:hover {
		transition-duration: 0.3s;
		background-color: #333
	}

	.humberger {
		display: none;
	}

	.main__box__top {
		background-color: #f2f2f2;
		text-align: center;
	}

	.main__box_text h1 {
		color: #74cfae;
		font-size: 90px;
		font-weight: 700;
		margin-bottom: 20px;
		padding-top: 250px;
	}

	.main__box_text p {
		font-size: 30px;
		color: #c0c0c0;
		padding-bottom: 250px;
	}

	.main__box__descBG {
		background-color: #74cfae;
	}

	.main__box__desc {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}

	.main__item {
		margin-top: 50px;
		text-align: center;
	}

	.main__box__text {
		color: #fff;
		margin: auto;
		width: 500px;
		margin-top: 20px;
	}

	.main__box__text h1 {
		font-size: 24px;
		margin-bottom: 35px;
	}

	.main__box__text p {
		font-size: 20px;
		margin-bottom: 25px;
	}

	.main__box__content {
		text-align: center;
		background-color: #f2f2f2;
	}

	.main__box__title {
		font-size: 24px;
		padding-top: 60px;
		margin-bottom: 40px;
	}

	.main__box__content_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0;
	}

	.main__box__content_img a:nth-child(3n) {
		margin-bottom: 80px;
	}

	.main__box__content_note {
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
	}

	.main__box__button {
		margin: 40px auto 70px;
	}

	.main__content_information {
		background-color: #4e4e4e;
	}

	.main__content_information h2 {
		color: #fff;
    padding-top: 70px;
    padding-bottom: 30px;
		text-align: center;
	}

	.main__content__wrapper {
		display: flex;
		justify-content: center;
	}

	.main__content__img {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
	}

	.main__content__img div {
		margin-bottom: 88px;
	}

	.main__content__img p {
		color: #fff;
		font-size: 16px;
		text-align: center;
		/*margin-bottom: 80px;*/
	}

	.nav {
		background-color: #f2f2f2;
		padding-top: 200px;
		padding-bottom: 200px;
	}

	.nav__content {
		width: 70%;
		margin: 0 auto;
	}

	.nav__list {
		display: flex;
		justify-content: space-around;
	}

	.nav__list li{
		width: 185px;
		text-align: center;
    height: 80px;
    padding-top: 15%;
    transition-duration: 0.3s;
	}

	.nav__list li:hover {
		background-color: #fff;
		cursor: pointer;
		transition-duration: 0.3s;
	}

	.nav_color {
		color: #74cfae;
	}

	.footer {
		background-color: #74cfae;
	}

	.footer div{
		color: #fff;
		padding: 20px 0 25px;
		text-align: right;
	}
}

@media screen and (max-width: 767px) {
	画面幅が767px以下のとき、SP用
	.body_property {
		color: 	#333;
	}

	.header {
		background-color: #fff;
		position: relative;
	}

	.fa-headIcon {
		color: gray;
	}

	.inner {
		width: 97%;
		margin: 0 auto;
	}

	.header__inner {
		display: flex;
	    justify-content: space-between;
        padding-left: 25px;
	}

	.header__item {
		margin: 15px 0;
	}

	.header__inner > .button {
		background-color: #74cfae;
		color: #fff;
		font-size: 12px;
		padding: 14px 12px;
		width: 40px;
		cursor: pointer;
    text-decoration: none;
		display: none; /*後にハンバーガーメニュー以下に表示する。*/
	}

	.button:hover {
		transition-duration: 0.3s;
		background-color: #333
	}

	.main__box__button > .button {
			background-color: #74cfae;
		color: #fff;
		font-size: 12px;
		padding: 14px 12px;
		width: 40px;
		cursor: pointer;
		width: 65px;
    text-decoration: none;
	}

	.humberger {
    position: absolute;
    right: 5%;
    top: 20%;
    bottom: 20%;
    width: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-sizing: border-box;
	}

	.humberger div {
		position: relative;
		height: 2px;
		width: auto;
		background-color: #ddd;
		border-radius: 2px;
		display: inline-block;
		box-sizing: border-box;
	}

	.main__box__top {
		background-color: #f2f2f2;
		text-align: center;
	}

	.main__box_text h1 {
    color: #74cfae;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 160px;
	}

	.main__box_text p {
		font-size: 30px;
		color: #c0c0c0;
		padding-bottom: 130px;
	}

	.main__box__descBG {
		background-color: #74cfae;

	}

	.main__box__desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}

	.main__item {
		margin-top: 50px;
		text-align: center;
	}

	.main__box__text {
		color: #fff;
		margin: auto;
	}

	.main__box__text h1 {
		font-size: 24px;
		margin-top: 20px;
		margin-bottom: 35px;
	}

	.main__box__text p {
		font-size: 20px;
		margin-bottom: 25px;
	}

	.main__box__content {
		text-align: center;
		background-color: #f2f2f2;
	}

	.main__box__title {
		font-size: 24px;
		padding-top: 60px;
		margin-bottom: 40px;
	}

	.main__box__content_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0;
	}

	.main__box__content_img a {
		width: 95%;
	}

	.main__box__content_img a:nth-child(3) {
		margin-bottom: 80px;
	}

	.main__box__content_note {
    margin-top: 80px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
	}

	.main__box__button {
		margin: 40px auto 70px;
	}

	.main__content_information {
		background-color: #4e4e4e;
	}

	.main__content_information h2 {
		color: #fff;
    padding-top: 70px;
    padding-bottom: 30px;
		text-align: center;
	}

	.main__content__wrapper {
		display: flex;
		justify-content: center;
	}

	.main__content__img {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
	}

	.main__content__img p {
		color: #fff;
		font-size: 16px;
		text-align: center;
		margin-bottom: 80px;
	}

	.nav {
		background-color: #f2f2f2;
		padding-top: 50px;
	}

	.nav__list li{
		display: flex;
		justify-content: center;
		align-items: center;
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
	}

	.nav__list li:hover {
		background-color: #fff;
		cursor: pointer;
		transition-duration: 0.3s;
	}

	.nav_color {
		color: #74cfae;
	}

	.footer {
		background-color: #74cfae;
	}

	.footer div{
		color: #fff;
		padding: 20px 0 25px;
		text-align: right;
	}
}
